.orders__title {
  font-weight: 700;
  font-size: 4rem;
  color: var(--black);
  padding-top: 1.5rem;
}
.orders__body {
  display: flex;
  flex-direction: column;
  padding: 3.9rem 0 5rem;
  gap: 60px;
}

@media screen and (max-width: 769px) {
  .orders__title {
    padding-left: 1rem;
  }
  .orders__body {
    padding: 3.9rem 1rem 5rem;
  }
}
