.order {
}
.order__body {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.order__title {
  display: flex;
  justify-content: space-between;
}
.order__text {
  display: flex;
  gap: 24px;
}
.order__date {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
}
.order__info {
  display: inline-block;
  background-color: var(--cream-2);
  padding: 0.5rem;
}
.order__total-price {
  font-size: 24px;
  color: var(--black);
}
.order__item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
