.order__body {
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}
.order__title {
  display: flex;
  justify-content: space-between;
}
.order__text {
  display: flex;
  gap: 1.5rem;
}
.order__date {
  font-weight: 700;
  font-size: 1.5rem;
}
.order__info {
  display: inline-block;
  background-color: var(--cream-2);
  padding: 0.5rem;
}
.order__total-price {
  font-size: 1.5rem;
  color: var(--black);
}
.order__item {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
}

@media screen and (max-width: 650px) {
  .order__title {
    flex-wrap: wrap;
  }
  .order__item {
    justify-content: center;
  }
}
