.cart__item {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  background-color: var(--white);
}

.cart__info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 0.6rem;
}
@media screen and (max-width: 769px) {
  .cart__info {
    justify-content: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
  }
}

.cart__img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.cart__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--black);
  padding: 0.6rem 0;
  width: 31.25rem;
}
@media screen and (max-width: 1225px) {
  .cart__text {
    width: 12.5rem;
  }
}
@media screen and (max-width: 650px) {
  .cart__text {
    width: 9.35rem;
  }
}

.cart__subtitle {
  font-weight: 700;
  font-size: 0.75rem;
}
.cart__right {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  gap: 0.5rem;
}
.cart__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6.25rem;
  height: 2.5rem;
  padding: 0.5rem;
  background: var(--primery);
  border-radius: 4px;
  color: var(--white);
}
.cart__total {
  font-weight: 700;
  font-size: 1.2rem;
}
.cart__button_mark {
  font-size: 2rem;
}
