.carts__title {
  font-weight: 700;
  font-size: 4rem;
  color: var(--black);
  padding: 1.5rem 0 2.5rem;
}

@media screen and (max-width: 769px) {
  .carts__title {
    padding-left: 1rem;
  }
}

.carts__body {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 769px) {
  .carts__body {
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 650px) {
  .carts__body {
    padding: 0 1rem 5rem;
  }
}
.carts__group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 53.75rem;
}
@media screen and (max-width: 769px) {
  .carts__group {
    width: 31.25rem;
  }
}
