.articles__body {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 2.5rem 0;
  flex: 1 1 33.33%;
}

@media screen and (max-width: 1225px) {
  .articles__body {
    justify-content: center;
    flex-wrap: wrap;
  }
}
