.carts__body {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  padding-top: 2.5rem;
}
@media screen and (max-width: 1225px) {
  .carts__body {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.cart {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 17rem;
  gap: 0.5rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}

.cart__img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.cart__price {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 150%;
  color: var(--black);
  padding: 0 0.5rem;
}
.cart__title {
  line-height: 150%;
  color: var(--black);
  padding: 0 0.5rem;
  max-width: 100%;
  word-wrap: break-word;
  flex: 1 1 auto;
}
.cart__button {
  /* width: 16rem; */
  /* height: 2.5rem; */
  border-style: solid;
  border-radius: 0.1rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.cart__button_buy {
  background-color: var(--white);
  border-color: var(--primery);
  color: var(--primery);
}

.cart__button_buy:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);

  color: var(--white);
}

.cart__button_add-item {
  background-color: var(--primery);
  color: var(--white);
  border: var(--primery);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__button_add-item::after {
  content: "+";
  position: relative;
  font-size: 2rem;
}

.cart__button_add-item::before {
  content: "-";
  position: relative;
  font-size: 2rem;
}
