.catalog__items {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
.catalog__title {
  font-weight: 700;
  font-size: 4rem;
  color: var(--black);
  padding-top: 1.5rem;
}
.catalog__body {
  display: grid;
  grid-template-areas:
    " 1 2 3 4"
    " 1 2 3 4"
    " 1 2 3 4";
  gap: 2.5rem;
  padding-bottom: 80px;
}
.catalog__item {
  position: relative;
  height: 200px;
}
.catalog__img {
  height: 100%;
  width: 100%;
  background-color: #b69d9d;
}
.catalog__text {
  position: absolute;
}
