.items-header {
  display: flex;
  justify-content: space-between;
}
.items-header_paddingTop {
  padding-top: 5rem;
}

@media screen and (max-width: 1225px) {
  .items-header {
    padding: 5rem 0.5rem;
  }
}

.items-header__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 150%;
  color: var(--black);
}
.items-header__subtitle {
  display: flex;
  justify-content: center;
  justify-content: space-around;

  align-items: center;
  color: var(--silver);
}

.items-header__subtitle-text {
  line-height: 150%;
  padding-right: 0.5rem;
}
