.category__items {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
}
.category__title {
  font-weight: 700;
  font-size: 3rem;
  color: var(--black);
  padding-top: 1.5rem;
  /* padding: 1.5rem 0rem 2.5rem; */
}

@media screen and (max-width: 769px) {
  .category__title {
    padding-left: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .category__title {
    font-size: 2.5rem;
    /* padding: 2rem 1rem 0; */
  }
}
