.product {
}
.product__item {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 100%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}
.product__body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 0.5rem;
}
.product__img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.product__price {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--black);
  padding: 0 0.5rem;
}
.product__title {
  color: var(--black);
  padding: 0 0.5rem;
  max-width: 100%;
  word-wrap: break-word;
}
.product__button {
  border-radius: 0.1rem;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 2.62rem;
}

.product__button_buy {
  background-color: var(--white);
  border-color: var(--primery);
  color: var(--primery);
}

.product__button_buy:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}

.product__button_add-item {
  background-color: var(--primery);
  color: var(--white);
  border: var(--primery);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__button_add-item_mark {
  font-size: 2rem;
}
