.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header__logo-img {
  object-fit: cover;
  width: 2.5rem;
  height: 100%;
}
.header__logo-title {
  color: black;
  text-transform: uppercase;
}
@media screen and (max-width: 720px) {
  .header__logo-title {
    display: none;
  }
}
@media screen and (max-width: 676px) {
  .header__logo {
    padding-right: 0.5rem;
  }
}
