/* user */
.header__user {
  display: flex;
  display: none;
  align-items: center;
  gap: 0.65rem;
}
.header__user-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}
.header__user-name {
  line-height: 150%;
  color: var(--black);
  flex-grow: 1;
}

.header__user-icon {
  padding: 1rem 0 0 1rem;
}

@media screen and (max-width: 1000px) {
  .header__user-name {
    display: none;
  }
  .header__user-icon {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .header__user {
    order: 3;
  }
}
