.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 769px) {
  .header__row {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 650px) {
  .header__row {
    padding-top: 0.5rem;
    flex-wrap: wrap;
  }
}
