.product-info__title {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--black);
  padding-top: 1.5rem;
}
@media screen and (max-width: 769px) {
  .product-info__title {
    padding: 2rem 1rem 0;
  }
}
.product-info__body {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  height: 29.37rem;
}

@media screen and (max-width: 769px) {
  .product-info__body {
    height: 100%;
    padding: 2rem 1rem 0;
  }
}

@media screen and (max-width: 670px) {
  .product-info__body {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 0;
  }
}

.product-info__img {
  width: 31.5rem;
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 769px) {
  .product-info__img {
    width: 18.75rem;
    height: 16.75rem;
  }
}

.product-info__cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  flex: 1 1 auto;
  gap: 1rem;
  padding: 1rem;
}
@media screen and (max-width: 769px) {
  .product-info__cart {
    width: 18.75rem;
    flex: 1 1 auto;
  }
}

.product-info__price {
  font-weight: 700;
  font-size: 1.6rem;
  color: #414141;
}
.product-info__button {
  padding: 1rem;
  font-size: 1.5rem;
  width: 12.5rem;
  height: 3.62rem;
  background-color: var(--secondary);
  color: var(--white);
  border-color: var(--secondary);
}

.product-info__button-add-item {
  background-color: var(--primery);
  color: var(--white);
  border: var(--primery);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.62rem;
}

.product__button_add-item_mark {
  font-size: 2rem;
}

.product-info__button-add-item:active > .product-info__button_animate {
  transform: scale(150%);
}

.product-info__text {
  max-width: 23.5rem;
  color: var(--black);
}
.product-info__text_strong {
  font-weight: 700;
  color: var(--black);
}
