.footer__links {
  flex: 1 1 auto;
}
.footer__links-body {
  display: flex;
  justify-content: flex-start;
  gap: 3rem;
}

@media screen and (max-width: 649px) {
  .footer__links-body {
    gap: 1rem;
  }
}

.footer__link {
  color: var(--black);
  cursor: pointer;
}
